<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Eat The Burgers!</title>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/burgers.js"></script>
	</head>
    
	<body>
		
		{{!-- Triple curly braces here is where all of our .handlebars will be rendered--}}
		{{{ body }}}
	</body>
</html>
