body{
    background: lightblue;
    margin:5px;
}

p{
    margin-top:20px;
}

img{
    margin: 10px;
}

.row{
    margin:auto;
}
#eatTheBurger {
    text-align: center;
    margin-bottom: 40px;
}

#freshBurger {
    padding-left: 10%;
    color: red;
}

#burgerHistory {
    padding-right: 10%;
    color: blue;
}

#newBurger{
    padding-left: 7%;   
}
